<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )" >
    <head>
    	<link rel="stylesheet" href="/css/commons/steff-write.css">
    	<script src="/js/step.js"></script>
    </head>
    <main>
        <h1>메인영역</h1>
        <div class="wrap view-size">
        	<p class="tit flex center">공고글 수정</p>
        	<a href="menu/step-board">이전으로</a>
        	<div class="wrap view-size flex center col-center">
	        	<form action="/menu/step/step-update" id="form-step-write" method="post">
	        		<ul>
	        		    <li>
	        		    	<p>지역선택</p>
	        				<select name='region' class="region-option" style="width: 100%;" >
								  <option value='' selected>-- 지역을 선택하세요. --</option>
								  <option value='seoul'>서울</option>
								  <option value='gyeonggi'>경기도</option>
								  <option value='ChungcheongNamdo'>충청남도</option>
								  <option value='ChungcheongBukdo'>충청북도</option>
								  <option value='JeollaBukdo'>전라북도</option>
								  <option value='JeollaNamdo'>전라남도</option>
								  <option value='GyeongsangNamdo'>경상남도</option>
								  <option value='GyeongsangBukdo'>경상북도</option>
								  <option value='jejudo'>제주도</option>
							</select>
	        			</li>
	        			<li>
	        				<p>제목</p>
	        				<input type="text" name="title" id="title" placeholder="제목을 입력하세요."/>
	        			</li>    	
	        			<li>        		    			    			
	        					<p>모집 마감일</p>
	        					<input type="date" name="lastDate" id="last-date"/>
	        			</li>		
	        			<li>
	        				<p>모집인원</p><p>*최대 10명까지 선택 가능합니다.</p>
	        				<input type="number" name="people" id="step-peple" min="1" max="10" value="1"/>명
	        			</li>
	        			<li>		
		        				<p>성별</p>
		        				<label >
		        					<input type="radio" class="gender" name="gender" value="irrelevant" checked/> 
		        					<span>남여무관</span>
		        				</label>
		        				<label >
		        					<input type="radio" class="gender" name="gender" value="male"/>
		        					<span>남성</span>
		        				</label>
		        				<label >
		        					<input type="radio" class="gender" name="gender" value="female" />
		        					<span>여성</span>
		        				</label>
		        				
		        				
		        				
		        		</li>
	        			<li>
	        				<p>내용</p>
	        				<input type="text" id="content" name="content" placeholder="내용을 입력하세요."/>
	        			</li>				
	        		</ul>
	        		<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	        		<button class="btn-style" type="submit">작성완료</button>
	        	</form>
        	</div>
        </div>
    </main>
</html>