<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )" >
    <head>
    	<script src="/js/sign.js"></script>
		<link rel="stylesheet" href="/css/commons/signin.css">
    </head>
    <main>
        <h1>메인영역</h1>
        <div class="wrap view-size-m">
        	<p class="tit flex center">로그인</p>
        	<form action="/signin"  method="post" id="form-signin" onsubmit="return validateForm()">
        		<ul>
        			<li>
						<div class="flex col-center">
        					<input onblur="validateInput(this, 0)" type="text" name="email" id="email" placeholder="이메일 또는 아이디">
        				</div>
        			</li>
        			<li>
						<div class="flex col-center">
        					<input onblur="validateInput(this, 1)" type="password" name="pass" id="pass"placeholder="비밀번호">
        				</div>

        			</li>
        			<li>
							<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        					<button class="btn-style" type="submit">로그인</button>
        			</li>
        		</ul>
        	</form>

        </div>
    </main>
</html>