<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )" >
    <head>
    	<link rel="stylesheet" href="/css/commons/index.css">
    </head>
    <main>
        <h1>메인영역</h1>


		        <div class="view-size">
					<video muted autoplay loop>
				      <source src="images/video/tree.mp4" type="video/mp4">
				      <strong>Your browser does not support the video tag.</strong>
				    </video>
		        </div>
 
		        <div>
		        	<p class="tit">
						小福 : 작은 복력(福力).
						<br><br>
						Stay : 머물다.
						<br><br>
					</p>
				</div>
		
			<p class="view-size flex center col-center">
				<br>
				'소복 스테이'는 게스트하우스만을 모아둔 게스트하우스 채용 공고 웹 사이트입니다.
				<br><br>
				게스트하우스 스태프란?<br>
				게스트하우스에 머무는 고객의 편의 시설을 관리하는 업무를 담당합니다.
				<br><br>
				
				'소복 스테이'에는 급여가 제공되며 근로계약서의 절차가 필수인 게스트하우스만이 머물고 있습니다.
				<br><br>
				
        </p>

    </main>
</html>