@charset "UTF-8";
body > main > div:nth-child(3) > p{
	text-align: center;
	margin-top: 40px;
}
body > main > p{
	text-align: center;
	margin-top: 40px;
}
body > main > div.view-size > video{
	width: 100%;
	margin-top: 40px;
}
